html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 5;
}

.header .navbar1 {
  display: none;
}

.header .navbar2 {
  display: none;
}

/* Hamburger Menu */
.menu__toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: #1b1a1a;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
  top: -8px;
}

.menu__toggler span::after {
  top: 8px;
}

.menu__toggler.active > span {
  background: transparent;
}

.menu__toggler.active > span::before,
.menu__toggler.active > span::after {
  background: #005c9c;
  top: 0;
}

.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -30%;
  z-index: 998;
  color: #005c9c;
  background: rgba(219, 163, 163, 0.2);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 100px;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

/* Main Container */

.about-info {
  background-image: url("media/adventure-altitude-climb-cold-thumbnail.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  margin-top: 100px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: auto;
  padding: 7px;
  min-height: 326.85px;
}

.about-info h2 {
  color: #ec5242;
  font-size: 28px;
  font-weight: 400;
}

.about-info h1 {
  color: #eb3c29;
  font-size: 40px;
  font-family: 'COCOGOOSE', sans-serif;
}

.about-info .infoWrapper {
  position: relative;
  padding: 3%;
  margin-left: 10px;
}

.about-info .infoWrapper .description {
  background-color: rgb(255, 255, 255, 1);
  color: #5f5c5c;
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ada9a9;
  margin-top: 22px;
  padding: 24px;
}

.about-info .info-contact {
  text-align: center;
  width: 75%;
  font-size: 12px;
  color: #0f0f0f;
}

/* Logo Container */
.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.about-logo h3 {
  text-align: center;
}

.about-logo .underlinefull {
  width: 10%;
  margin-inline: auto;
  border: none;
  height: 2.5px;
  background: #ec5242;
  margin-top: 10px;
}

.about-logo .for-mobile {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 36px;
}

.about-logo .for-desktop {
  display: none;
}

.aboutlogoimg {
  width: 95%;
  height: auto;
  margin: auto;
  border: 1px solid #d3d3d3;
}

.aboutlogoimg img {
  width: 100%;
}

.about-logo .border {
  width: 500px;
  border: none;
  height: 2px;
  background: #d3d3d3;
  margin-top: 40px;
}

/* Past Events */

.about-past {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 32px;
}

.about-past h3 {
  text-align: center;
}

.about-past .underlinefull {
  width: 8%;
  margin-inline: auto;
  border: none;
  height: 2.5px;
  background: #f07163;
  margin-top: 20px;
}

.about-past p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.Container {
  position: relative;
  text-align: center;
  color: rgb(248, 246, 246);
  font-size: 20px;
  font-weight: bolder;
}

.overlay1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay2 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-past .image {
  width: 100%;
  margin-block: 10%;
  cursor: pointer;
  filter: blur(3px);
}

/* Partners */

.partner-section {
  background-color: #3f444f;
}

.partner-section h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

.partner-section .underline {
  background-color: #ec5241;
  width: 45px;
  height: 2px;
  margin-bottom: 16px;
  margin-inline: auto;
}

.partnersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.partners-list {
  width: 30%;
  margin-left: 12px;
}

.partners-list img {
  margin-block: 10%;
}

.partners-logo1 {
  width: 100px;
  height: 60px;
}

/* Footer */
footer {
  min-height: 50px;
}

.footerContainer {
  height: 50px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.footerContainer .websiteLogo img {
  width: 90%;
}

.footerContainer .copyrights {
  margin: 20px;
  width: 100%;
  line-height: 16px;
  font-size: 12px;
  color: #3d3d3d;
  font-weight: 400;
  font-family: 'Cocogoose', sans-serif;
}

/* Only Mobile Display */
@media only screen and (max-width: 768px) {
  /* Toogle bar */
  .menu {
    width: 400px;
    left: -300px;
    padding: 150px;
  }

  .menu.active {
    left: 0;
  }

  .menu p {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .menu .menu-btn {
    padding: 12px;
    width: 30%;
  }

  .navbar1,
  .navbar2,
  .navbarright {
    display: none;
  }

  .main-program .button-desktop-prg {
    display: none;
  }
}

/* End of Mobile Menu */

/* Desktop version */

@media (min-width: 768px) {
  .header .navbar1 {
    display: flex;
    background-color: #3d3d3d;
    padding: 5px 250px;
    justify-content: flex-end;
  }

  .header .navbar1 .navlist {
    margin-right: 20px;
    text-decoration: none;
  }

  .header .navbar1 a,
  .header .navbar1 a i .fab {
    color: #fff;
    font-size: 16px;
    padding: 2px 10px;
  }

  .header .navbar2 {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 5px 200px;
    border: 1px solid #fff;
    box-shadow: 0 0.25rem 2rem 0.5rem rgba(0, 0, 0, 0.3); /* Need to update */
  }

  .footerContainer .websiteLogo img {
    width: 30%;
    height: 100%;
    margin-left: 490px;
  }

  .header .navbar2 .logo img {
    width: 60%;
  }

  .header .navbar2 .logo {
    display: flex;
    justify-content: flex-start;
    width: 10%;
    padding: 10px;
  }

  .header .navbar2 .navbarright a,
  .header .navbar2 .navbarright .nav-btn {
    padding: 10px 20px;
    margin: 5px 5px;
    text-decoration: none;
  }

  .menu,
  .menu__toggler {
    display: none;
  }

  /* Main Container */
  .info-container {
    width: 70%;
    margin-left: 250px;
    margin-top: 120px;
  }

  .about-info h1 {
    font-weight: bolder;
  }

  /* Logo Container */
  .about-logo .underlinefull {
    width: 4%;
  }

  .about-logo .for-mobile {
    display: none;
  }

  .about-logo .for-desktop {
    display: flex;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 36px;
    font-size: 12px;
  }

  .aboutlogoimg {
    width: 50%;
  }

  .about-logo .border {
    width: 200%;
  }

  /* Past Events */

  .Container {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
  }

  .about-past .Container {
    display: flex;
    flex-direction: row;
    width: 70%;
  }

  .about-past h3 {
    font-size: 24px;
  }

  .about-past .underlinefull {
    width: 4%;
  }

  .Container .image {
    padding: 20px;
  }

  .overlay1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .overlay2 {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
  }

  /* Partner */
  .partner-section {
    display: none;
  }

  /* Footer */
  .footerContainer {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3d3d3d;
    margin: 0;
  }

  .footerContainer .copyrights {
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    font-family: 'lato', sans-serif;
    margin-top: 20px;
  }
}
